* {
    box-sizing: border-box;
  }
  
  .header {
    padding: 10px;
    width: 10;
    text-align: left;
    background: #2e3253;
    color: white;
    font-size: 20px;
  }
  /* Create three equal columns that floats next to each other */
  .container {
    width:1250px; height:550px;border: 10px solid black; margin: 0 auto;
    padding: 5px;
    margin: 2px;
}
  
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 220px; 
  }

  .row {
    width:1220px; height:180px; background-color: rgb(179, 169, 179); float: left;
    border: 0.1px solid blanchedalmond;
    padding: 5px;
    margin: 2px;
}


